/.vs
/CarFleetApp/CarFleet.Data/bin
/CarFleetApp/CarFleet.Data/obj
/CarFleetApp/CarFleet.Service/bin
/CarFleetApp/CarFleet.Service/obj
/CarFleetApp/CarFleet.WebApp/bin
/CarFleetApp/CarFleet.WebApp/obj